$border-style: 1px solid rgb(245, 240, 240);
$font-color: rgb(247, 249, 251);
$font-family_1: 'Baloo 2', cursive;
$font-family_2: 'Fredoka One', cursive;
$background-color: slategray;
$border-radius: 10px;
$margin-h: 0;
$margin-2: 20px;
$display: flex;
$align-items: center;