
@import "config";
@import "mixin";


* {
    border: $border-style;
	border-radius: $border-radius;
}

img {
	width: 100px;
}
@mixin header {
	width: 90%;
	margin: auto;
	display: $display;
	justify-content: space-between;
	margin-bottom: $margin-2;
	div {
		display: $display;
		flex-wrap: wrap;
		width: 50%;
		margin-bottom: $margin-2;
		&:last-child {
			display: $display;
			align-items: $align-items;
		}
	}
	h1 {
		text-align: left;
	}
}
.container {
	display: $display;
	width: 90%;
	margin: auto;
	justify-content: space-between;
}
aside {
	flex-basis: 15%;
	min-width: 15%;
	display: $display;
	justify-content: flex-start;
	align-items: $align-items;
}
ul {
	padding: 0;
}
li {
	list-style: none;
	text-align: left;
	@include nav;
	@include img;
}

nav {
	margin: 10px;
	border-radius: 10px;
}
main {
	width: 85%;
	flex-basis: 85%;
}
body {
	background-color: $background-color;
	color: $font-color;
	margin: $margin-2;
	font-family: $font-family_1;
	text-align: center;
}
h1 {
	margin: $margin-h;
	font-family: $font-family_2;
	@include header;
}
h2 {
	margin: $margin-h;
	font-size: 1em;
}
h3 {
	margin: $margin-h;
}
h4 {
	margin: $margin-h;
}
h5 {
	margin: $margin-h;
}
h6 {
	margin: $margin-h;
}

